<doctype html>
<head>
	<link rel="stylesheet" href="/static/css/bootstrap-1.2.0.min.css">
	<style type="text/css">
		body{
			margin: auto auto;
			width:940px;
		} 
                ul.pills li{width:180px;}
                ul.pills li a {margin:2px 1px;}
                ul.pills li.selected a{
                    -moz-box-shadow:inset 0 0 3px #001050;
                    -webkit-box-shadow:inset 0 0 3px #001050;
                    box-shadow:inset 0 0 3px #001050;
                }
                .span5.columns{width: 190px;}
	</style>
	
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/json2.js"></script>
	<script type="text/javascript" src="/static/js/underscore.js"></script>
	<script type="text/javascript" src="/static/js/backbone.js"></script>
	<script type="text/javascript" src="/static/js/tomatoe.js"></script>
	
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="/static/js/charts.js"></script>
</head>
<body>
  
  <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">Tomatoe</a></h3>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div>
      </div><!-- /topbar-inner -->
    </div>
  
  <div class="row show-grid" style="margin-top: 50px;">
    <div class="span5 columns">
    	<ul class="pills">
    		<li> 
                    <a class="allstates-selector-add" data-state="ALL" href="#"><span>All states</span></a>
                    <a class="allstates-selector-remove" style="display:none;" data-state="ALL" href="#"><span>All states</span></a>
	      	</li>
	      	{% for state in states %}
                    <li data-state="{{state.code}}">
                        <a class="state-selector-add" data-state="{{state.code}}" href="#"><span>{{state.name}}</span></a>
                        <a class="state-selector-remove" style="display:none;" data-state="{{state.code}}" href="#"><span>{{state.name}}</span></a>
                    </li>
	      	{% endfor %}
      	</ul>
    </div>
    <div id="content" class="span11 columns">
        <div id="content_nav"></div>
    	
 		<div id="table-wrapper">
 			
 		</div>
 		
    </div>
  </div>
  
  
  <script type="text/template" id="template-data-views">
  	<ul class="tabs">
		  <% _.each(views, function(view) { %> 
		  	<li><a class="data-view-selector" data-view-id="<%= view.id %>" data-fields="<%= view.fields %>" href="#"><%= view.title %></a></li> 
		  <% }); %>
 	</ul>
  </script>
  
  <script type="text/template" id="template-table">
  	
  	<table class="zebra-striped">
      <thead>
 	    <tr>
		  <% _.each(columns, function(column) { %> 
		  	<th><%= column.title %></th> 
		  <% }); %>    
		</tr>
      </thead>
          
      <tbody>
        <% _.each(data, function(row) { %> 
		  	<tr>
		  	  <% _.each(row, function(col) { %>
		      	 <td><%= col %></td>
		      <% }); %>
		  	</tr> 
	    <% }); %>	          	          
	  </tbody>
      
    </table>
  	
  </script>
  
  
  <script type="text/javascript">
  	
  	google.load("visualization", "1", {packages:["corechart"]});
  	
  	//singletons
  	window.query = new Query;
  	window.dataSnapshotView = new DataSnaphotsView;
  	
  	
  	$(document).ready(function(){
  		window.query.addField("population");
  	
  		function updateQuery() {
  			console.log("query changed");
  			console.log(this);
  			
  			if(!window.query.isComplete()){
  				$("#table-wrapper").html("<h3>No data to display</h3>");
  				return;
  			}
  			
  			var m = new Dataset;
  			m.set({query : window.query.toString() });
  		    m.fetch({
	  			success : function(model, response){
	  				model.set(response);	
	  				var tv = new TableView({model : model});
	  				$("#table-wrapper").html(tv.render());
	  				
	  			},
	  			error : function(model, response){
	  				console.log(response);
	  			}
  			});
  			
  		}
  	
  		//keep track of what data view is selected
  		window.dataSnapshotView.bind("selected-view-changed", function(){
  			console.log(this.selectedView.get("fields"));
  			
  			window.query.setFields(this.selectedView.get("fields"));
  		
  		}, window.dataSnapshotView);
  	
  		//monitor changes to the query object
  		window.query.bind('states-changed', function(){
  			updateQuery();
  		}, window.query);
  	
  		window.query.bind('fields-changed', function(){
  			updateQuery();
  		}, window.query);
  	
  		//** add state to the query 
  		$(".state-selector-add").click(function(){
  			
  			$(this).hide();
  			$(this).parent().children(".state-selector-remove").show();
                        $(this).parent().toggleClass('selected'); 
  			$(".allstates-selector-add").show();
  			$(".allstates-selector-remove").hide();
  			
  			var code = $(this).attr("data-state");
  			window.query.addState(code);
  		});
  		
  		//** remove state from the query
  		$(".state-selector-remove").click(function(){
  			
  			$(this).hide();
  			$(this).parent().children(".state-selector-add").show();
                        $(this).parent().toggleClass('selected'); 
  			$(".allstates-selector-add").show();
  			$(".allstates-selector-remove").hide();
  			
  			var code = $(this).attr("data-state");
  			window.query.removeState(code);
  		});
  		
  		//** add all states
  		$(".allstates-selector-add").click(function(){
  			
  			var states = [];
  			
  			$(this).hide();
  			$(this).parent().children(".allstates-selector-remove").show();
                        $(this).parent().toggleClass('selected'); 
  			$(this).parent().siblings().each(function(){
  				states.push($(this).attr("data-state"));
                  				
  				$(this).children(".state-selector-remove").show();
  				$(this).children(".state-selector-add").hide();
  			});
  			
  			window.query.setStates(states);
  		});
  		
  		//** remove all states
  		$(".allstates-selector-remove").click(function(){
  			
  			$(this).hide();
  			$(this).parent().children(".allstates-selector-add").show();
  			$(this).parent().toggleClass('selected');
                        
  			$(this).parent().siblings().each(function(){
  				$(this).children(".state-selector-add").show();
  				$(this).children(".state-selector-remove").hide();
  			});
  			
  			window.query.setStates([]);
  		});
  		
  		window.dataSnapshotView.selectDefaultView();
  		
  	});
        
        window.dataSnapshotView.addView({fields: ["Accommodationandfoodservicessales","Asianpersonspercent"], title: "Custom View", id: "custom_view"});
  	
  </script>
  
</body>
