<doctype html>
<head>
	<link rel="stylesheet" href="/static/css/bootstrap-1.2.0.min.css">
	<style type="text/css">
		body{
			margin: auto auto;
			width:940px;
		}
	</style>
	
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/json2.js"></script>
	<script type="text/javascript" src="/static/js/underscore.js"></script>
	<script type="text/javascript" src="/static/js/backbone.js"></script>
	<script type="text/javascript" src="/static/js/tomatoe.js"></script>
	
</head>
<body>
  
  <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">Tomatoe</a></h3>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div>
      </div><!-- /topbar-inner -->
    </div>
  
  <div class="row show-grid" style="margin-top: 50px;">
    <div class="span5 columns">
    	<ul>
    		<li>All states <a href="#">++</a></li>	
	      	
	      	{% for state in states %}
	      		<li>{{state}} <a href="#">+</a></li>
	      	{% endfor %}
      	</ul>
    </div>
    <div class="span11 columns">
    	<ul class="tabs">
		  <li class="active"><a href="#">Overview</a></li>
		  <li><a href="#">Energy consumption</a></li>
		  <li><a href="#">Energy sources</a></li>
		  <li><a href="#">Water</a></li>
		  <li><a href="#">Trash</a></li>
		  <li><a href="#">+</a></li>
 		</ul>
 		
 		<div id="table-wrapper">
 			
 		</div>
 		
    </div>
  </div>
  
  
  <script type="text/template" id="template-table">
  	
  	<table class="zebra-striped">
      <thead>
 	    <tr>
		  <% _.each(columns, function(column) { %> 
		  	<th><%= column.title %></th> 
		  <% }); %>    
		</tr>
      </thead>
          
      <tbody>
        <% _.each(data, function(row) { %> 
		  	<tr>
		  	  <% _.each(row, function(col) { %>
		      	 <td><%= col %></td>
		      <% }); %>
		  	</tr> 
	    <% }); %>	          	          
	  </tbody>
      
    </table>
  	
  </script>
  
  
  <script type="text/javascript">
  	
  	$(document).ready(function(){
  	
  		var query = new Query;
  		query.addState("AL");
  		query.addField("field1");
  	
  		var m = new Dataset;
  		m.set({query : query.toString() });
  		m.fetch({
  			success : function(model, response){
  				console.log(response);
  			},
  			error : function(model, response){
  				console.log(response);
  			}
  		});
  	
  		var tv = new TableView({model : m});
  		$("#table-wrapper").html(tv.render());
  	})
  	
  </script>
  
</body>
